.rating {
    display: flex;
    margin-right: 12px;
    @include media($tablet) {
        margin-right: 14px;
    }
    .star {
        position: relative;
        .icon {
            color: rgba($black, 0.2);
            font-size: 20px;
            line-height: 0.8;
        }
        .filled {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            overflow: hidden;
            transition: 0.5s;
            .icon {
                color: $black;
            }
        }
    }
    .products-gallery &,
    .products-grid & {
        .star {
            .icon {
                font-size: 11px;
                line-height: 0.8;
                @include media(370) {
                    font-size: 13px;
                }
                @include media($tablet) {
                    font-size: 15px;
                }
                @include media($sm-desktop) {
                    font-size: 16px;
                }
                @include media($big-desktop) {
                    font-size: 19px;
                }
            }
        }
    }
}
